<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="dto.CustomerVO" alias="customerVO" />
		<typeAlias type="dto.EmployeeVO" alias="employeeVO" />
		<typeAlias type="dto.SupportVO" alias="supportVO" />
		<typeAlias type="dto.FileVO" alias="fileVO" />
		<typeAlias type="dto.BoardVO" alias="boardVO" />
	</typeAliases>

</configuration>